<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Projects_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Projects_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Projects_Launcher.Properties.Settings>
            <setting name="BeniHatırla" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="RamMax" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="SelectedVersion" serializeAs="String">
                <value>1.20.1</value>
            </setting>
            <setting name="NickNames" serializeAs="String">
                <value />
            </setting>
            <setting name="RamMin" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="reopenLauncher" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="backgroundLite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="suppressVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="themeSelected" serializeAs="String">
                <value>Otomatik</value>
            </setting>
            <setting name="autoConnect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="latestFabric" serializeAs="String">
                <value>v4</value>
            </setting>
            <setting name="latestRealFabric" serializeAs="String">
                <value>v4</value>
            </setting>
            <setting name="curModVer" serializeAs="String">
                <value>Manuel</value>
            </setting>
            <setting name="lastModVer" serializeAs="String">
                <value>v1</value>
            </setting>
            <setting name="modDontAsk" serializeAs="String">
                <value>v0</value>
            </setting>
            <setting name="modCompatibleVer" serializeAs="String">
                <value>1.19.4</value>
            </setting>
            <setting name="modCompatibleFabric" serializeAs="String">
                <value>projects-fabric-v4</value>
            </setting>
        </Projects_Launcher.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Projects_Launcher.Properties.Settings>
      <setting name="ProxyIP" serializeAs="String">
        <value>play.projects.gg</value>
      </setting>
      <setting name="currentVersion" serializeAs="String">
        <value>0.1.38</value>
      </setting>
    </Projects_Launcher.Properties.Settings>
  </applicationSettings>
</configuration>
