<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Projects_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Projects_Launcher.Properties.Settings>
            <setting name="NickName" serializeAs="String">
                <value>sad</value>
            </setting>
            <setting name="BeniHatırla" serializeAs="String">
                <value />
            </setting>
            <setting name="RamMBS" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="ResolutionHeight" serializeAs="String">
                <value>926</value>
            </setting>
            <setting name="ResolutionWidth" serializeAs="String">
                <value>531</value>
            </setting>
            <setting name="SelectedVersion" serializeAs="String">
                <value>fabric-loader-0.13.1-1.18.1</value>
            </setting>
            <setting name="Ayar" serializeAs="String">
                <value />
            </setting>
        </Projects_Launcher.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>